@font-face {
    font-family: 'Sansation';
    src: url('../fonts/sansation.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neoteric Bold';
    src: url('../fonts/NEOTERICc - Bold DEMO VERSION.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetical Bold';
    src: url('../fonts/HelveticaLTStd-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetical Light';
    src: url('../fonts/HelveticaLTStd-LightCond.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
  font-family: 'MyriadPro Regular';
  src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
