body {
  margin: 0;
  font-family: 'Sansation';
  font-size: 11px;
  
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
 box-sizing: border-box;
}

button {
  border: none;
}

.container {
 width: 100%;
 max-width: 1000px;
 margin: 0 auto;
}

/* Header ============*/

.header {
 display: flex;
 width: 100%;
 height: 62px;
 align-items: center;
 border-bottom: 1px solid #71678c;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1000;
}

.header__inner {
 display: flex;
 justify-content: space-between;
 align-items: center;
 }

.header_logo {
  font-size: 24px;
  display: flex;
}

.LO {
  margin-left: 30px; 
  color: #ffffff;
}

.GO {

  color: #da2346;

}
 
/* Navigation ========= */
.navigation_mobile {
  display: none;
}

.menu-btn {
  display: none;
}

.navigation {
 display: flex; 
 align-items: center;
 font-size: 20px;
 font-weight: normal;
}

.navigation .navlink {
  color:#fff;
  text-decoration: none;
  line-height: 26px;
  letter-spacing: -2px;
  margin: 0 27px;
  transition: color 0.1s linear;
}

.navigation .navlink:first-child {
  margin-left: 0;
}

.navlink:last-child {
  margin-right: 0;
}

.navlink:hover {
  color: #097e89;
}

/* Socials ============= */

.socials {
  display: flex;
  justify-content: flex-end;
}

.social_icon {
  fill: #fff;
  display: block;
  height: 25px;
  width: 25px;
  opacity: 0.22;
  transition: opacity .1s linear;
  margin: 0;
}

.social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

.social_item:last-child {
  margin-right: 40px;
}

.social_item:hover .social_icon {
  opacity: 1;
}

/* Intro ============= */

h1 {
  padding: 0;
}

.intro {
  height: 552px;
  background: #43376b url("../img/ap-ui.png") no-repeat center;
  background-size: cover;
  padding-top: 62px;

}

.intro_inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_slider_control {
  display: flex;
  position: absolute;
  top: 227px;
  width: 90%;
  justify-content: space-between;
}

.prev, .next {
cursor: pointer;
opacity: 0.3;
transition: opacity .1s linear;
}

.prev:hover, .next:hover {
 opacity: 0.9;
}

.titleborder {
  width: 538px;
  height: 196px;
  margin-top: 127px;
  border: 1px solid rgba(185, 180, 201, .2);
  text-align: center;
}

.slider_intro_container {
  display: flex;
  justify-content: center;
}

.slider_intro_item {
  display: block;
}

/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
} */

/* @-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
} */

.intro_title {
  font-size: 48px;
  font-weight: bold;
  line-height: 39px;
  text-transform: uppercase;
  letter-spacing: -3px;
  color: #ffffff;
}

.intro_text {
  width: 337px;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: -1px;
  color: #ffffff;
  opacity: 0.7;
  margin: 0px auto;
}

.intro_button {
  display: flex;
  position: absolute;
  top: 306px;
  left: 50%;
  justify-content: center;
  align-items: center;
  width: 110px;
  margin-left: -55px;
  height: 36px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  transition: background-color .1s linear;
}

.intro_button:hover {
  background-color: rgba(75, 64, 110, .5);
}

/* About =============== */

.about {
  background: #fff;
  overflow: hidden;
}

.about_inner {
  display: flex;
}

.about_left {
  width: 50%;
  height: 425px;
  position: relative;
}

.about_img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;

  transform: translateY(-50%);
}

.about_right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 42px;
}

.about_title {
  font-size: 24px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  width: 400px;
  padding-bottom: 12px;
  border-bottom: #515151 solid;
}

.about_content {
  font-family: 'MyriadPro Regular';
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 16px;
  display: flex;
  width: 400px;
}

.about_button {
  display: flex;
  font-family: 'Neoteric Bold';
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  justify-content: center;
  font-size: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-top: 42px;
  background-color: #05a0af;
  border-radius: 3px;
  color: #f7f7f7;
  transition: background-color .1s linear;
}

.about_button:hover {
  background-color: #07646d;
}

/* Services ==================== */

.services {
  background-color: #3d3d3d;
  color: #fff;
  height: 695px;
}

.our_services {
  background-color: #373737;
  height: 138px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our_services_text {
  text-transform: uppercase;
  font-size: 40px;
  display: block;
  margin: 0;
  line-height: 26px;
}

.our_services_img {
  position: relative;
  bottom: 0px;
}

.services_slider_control {
  display: flex;
  position: absolute;
  width: 65px;
  justify-content: space-between;
  bottom: 0px;
  right: 0px;
}

.left_service_button, .right_service_button {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 3px 5px 3px 10px;
    background-color: #089eac;
    z-index: 3;
    transition: background-color 0.1s linear;
}

.left_service_button:hover, .right_service_button:hover {
  background-color: #515151;
}

.services_inner_container {
  /* display: flex; */
  /* overflow: hidden; */
  position: relative;
}

.services_inner {
  /* display: flex; */
  /* float: left; */
  height: 100%;
  /* position: relative; */
  transition: all ease 0.6s;
  left: 0px;
}

.services_item {
  display: block;
  position: relative;
  /* display: flex; */
  width: 333px;
  height: 557px;
  padding-top: 143px;
  text-align: center;
  /* flex-direction: column; */
  /* align-items: center; */
  transition: background-color .1s linear;
}

.services_item:hover {
  background-color: #097e89;
}

.services_img {
  /* display: flex; */
  display: block;
  margin: 0 auto;
}

.services_titel {
  /* display: flex; */
  display: inline-block;
  text-align: center;
  margin-top: 55px;
  text-transform: uppercase;
  font-size: 24px;
}

.services_text {
  /* display: flex; */
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  /* text-align: center; */
  width: 90%;
  margin: 0;
}

.services_button_container {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 135px;
}

.services_button {
 display: inline-block;
 padding: 9px 30px;
 background-color: #959595;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 12px;
 color: #f7f7f7;
 transition: background-color .1s linear;
}

.services_button:hover {
  background-color: #07646d;
}

/* Feedback ============= */

.feedback {
  background-color: #3d3d3d;
  color: #fff;
  height: 420px;
  display: block;
}

.feedback_title {
  background-color: #373737;
  height: 138px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback_title_text {
  text-transform: uppercase;
  font-size: 40px;
  display: block;
  margin: 0;
  line-height: 26px;
}

.feedback_bottom {
  display: flex;
}

.feedback_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #cdc8c8;
  width: 338px;
  height: 282px;
  padding: 68px 55px 61px 55px;
}
.feedback_slider_container {
  display: flex;
  overflow: hidden;
  /* position: absolute; */
}

.feedback_slider {
  /* display: flex; */
  /* float: left; */
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  /* position: relative; */
  /* transition: all ease 0.6s; */
  /* left: 0px; */
}

.feedback_slider_item {
  width: 224px;
  display: flex;
  justify-content: center;
  text-align: center;
  float: left;
}


.feedback_slider_control {
  display: flex;
  height: 32px;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 125px; */
}

.left, .right {
  cursor: pointer;
  padding: 5px;
  transition: background-color .1s linear;
}

.left:hover, .right:hover {
  background-color: #2e2e2e;
}

.feedback_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 80px;
  border-top: solid 1px #b1aeae;
}

p {margin: 0;}

.feedback_items {
  display: flex;
}

.feedback_item {
  display: flex;
  margin: auto 10px;
  position: relative;
}

.feedback_text {
 display: flex;
 position: absolute;
 width: 184px;
 height: 32px;
 justify-content: space-between; 
 bottom: 10px;
 right: 10px;
}

.feedback_date {
  display: flex;
  width: 43px;

  background-color: #ffffff;
  color: #272727;
  align-items: center;
  justify-content: center;
}

.feedback_name {
  display: flex;
  width: 136px;

  background-color: #ffffff;
  color: #272727;
  align-items: center;
  padding-left: 5px;
}

/* clients =============== */

.clients {
  background-color: #fbfbfb;
  height: 530px;
  display: block;
}

.clients_title {
  background-color: #fefefe;
  height: 138px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clients_text {
  text-transform: uppercase;
  color: #656464;
  font-size: 40px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
}

.client_logos {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin-top: 16px;
  height: 303px;
}

.client_logo_item {
  display: flex;
  width: 25%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.client_logo_img {
  display: flex;
}

/* Quote ======================== */

.quote {
  background-color: #097e89;
}

.quote_inner {
  display: flex;
  height: 173px;
}

.quote_text {
  width: 400px;
  padding-left: 40px;
  padding-top: 30px;
  color: #fff;
  flex-shrink: 0;
}

.quote_title {
  font-weight: normal;
  font-size: 30px;
  line-height: 27px;
  letter-spacing: -2px;
  margin-top: 0;
  margin-bottom: 28px;
}

.quote_description {
  font-size: 12px;
  line-height: 21px;
  font-weight: normal;
  letter-spacing: -1px;
  margin: 0;
}

.quote_subscribe {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.subscribe {
  display: flex;
  width: 505px;
  height: 45px;
  border: 1px solid #84bfc4;
  border-radius: 3px;
}

input {
  border: 0;
}

.input_form {
  font-family: 'Sansation';
  font-size: 11px;
  color: #fff;
  display: flex;
  width: 40%;
  background-color: #097e89;
  border-right: 1px solid #60acb3;
  padding-left: 25px;
}

.get_call {
  display: flex;
  font-family: 'MyriadPro Regular';
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #097e89;
  width: 20%;
  transition: background-color .1s linear;
}

.get_call:hover {
  background-color: #e2dddd;
}

/* Footer ================ */

.footer {
  height: 209px;
  background-color: #474747;
}

.footer_inner {
  display: flex;
  justify-content: center;
  flex-basis: 500px;
}

.content {
  display: flex;
  width: 50%;
  padding-left: 38px;
}

.content_item {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetical Light';
  color: #fff;
  margin-right: 63px;
  position: relative;
}

.dash {
  display: block;
  position: absolute;
  width: 28px;
  border-bottom: 1px solid #fff;
}

.content_title {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.content_item_link {

  font-size: 13px;
  font-weight: 200;
  line-height: 31px;
  text-decoration: none;
  color: #fff;
}

.content_item_link:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  width: 50%;
  position: relative;
  min-width: 310px;
  min-height: 200px;
}

.mail_subscribe {
  display: flex;
  width: 257px;
  height: 44px;
  position: absolute;
  right: 51px;
  top: 40px;
  border: 1px solid #cccccc;

}

.input_mail {
  background-color: #cccccc;
  font-size: 15px;
  padding-left: 15px;
  width: 155px;
}

.subscribe_field {
  display: flex;
  font-family: 'Helvetical Light';
  font-size: 17px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: #0072bc;
  color: #fff;
  flex-grow: 1;
  transition: background-color .1s linear;
}

.subscribe_field:hover {
  background-color: #07646d;
}

.socials_footer {
  display: flex;
  position: absolute;
  right: 50px;
  top: 127px;

}

.social_item_footer {
  margin: 0px 4px;
  color: #c1c1c1;
}

.social_icon_footer {
  display: block;
  height: 35px;
  width: 35px;
  opacity: 1;
  margin: 0;
  fill: #2e2e2e;
  transition: fill .1s linear, opacity .1s linear;
}

.social_icon_footer:hover {
  fill: #fff;
  opacity: 0.7;
}

@media (max-width: 1000px) {
  .header__inner .navigation {
    width: 100%;
    justify-content: space-around;
  }

  .header__inner .navigation .navlink {
    margin: 0;
    display: inline-block;
  }

  .about_inner .about_left {
    display: flex;
    width: 500px;
    flex-shrink: 1;
  }

  .about_inner .about_right {
    width: 500px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .feedback {
    height: unset;
  }

  .feedback_items {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .feedback_item {
    margin-bottom: 20px;
  }

  .feedback_bottom {
    flex-direction: column;
    align-items: center;
  }

  .clients {
    height: unset;
  }
  
  .client_logo_item {
    width: 200px;
    height: 150px;
  }

  .client_logos {
    height: unset;
    justify-content: space-around;
  }

  .quote_inner {
    height: unset;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
  }

  .quote_inner .quote_text {
    padding-bottom: 40px;
    padding-left: 0;
    width: 100%;
    text-align: center;
  }

  .quote_subscribe .subscribe {
    min-width: 300px;
    max-width: 505px;
    flex-shrink: 1;
    margin-bottom: 20px;
  }

  .quote_subscribe .subscribe .input_form {
    flex-shrink: 1;
  }

  .quote_subscribe .subscribe .get_call {
    min-width: 80px;
  }

  .footer {
    height: max-content;
  }

  .footer_inner {
    flex-wrap: wrap;
  }

  .footer_inner .content {
    padding-left: 0;
    padding-bottom: 30px;
    min-width: 300px;
    justify-content: space-around;
  }

  .footer_inner .content .content_item {
    margin: 0;
  }
}

@media(max-width: 768px) {
  .socials {
    display: none;
  }

  .intro .intro_inner {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .titleborder {
    width: 100%;
  }
  .top_slider_control {
    top: 287px;
  }

  .mail_subscribe {
    /* position: relative; */

  }
}

@media(max-width: 440px) {

  .navigation {
    display: none;
  }

  .navigation_mobile {
    display: none;
    flex-direction: column;
    background-color: rgba(80, 93, 110, 0.582);
    position: absolute;
    top: 0px;
    right: 0px;
    width: 180px;
   }
   
  .navigation_mobile.nav_active {
    display: flex;
    flex-direction: column;
    background-color: rgba(80, 93, 110, 0.712);
    position: absolute;
    top: 0px;
    right: 0px;
    width: 180px;
   }

   .navigation_mobile .navlink:first-child {
     margin-top: 70px;
   }

   .navigation_mobile .navlink {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
    }

   .navigation_mobile .navlink:hover {
    color: rgb(214, 199, 199);
   }

  .menu-btn {
    display: inline-block;
    z-index: 1;
  }

  .about_inner .about_left {
    display: none;
  }

  .about_inner .about_right {
    flex-shrink: 1;
    margin-bottom: 30px;
  }

  .about_inner .about_right .about_title {
    width: 100%;
  }

  .about_inner .about_right .about_content {
    width: 100%;
  }

  .intro_title {
    line-height: 36px;
    font-size: 36px;
  }

  .social .mail_subscribe {
    right: 26px;
  }

  .social .socials_footer {
    right: 26px;
  }

}